// Base Styles

@import "../abstracts/variables";

// Turn off bootstrap scroll behavior
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: inherit;
  }
}

.scroll {
  scroll-behavior: smooth;
}

// Selection bg and color
::selection {
  color: $color-light;
  background: $color-primary;
}

a {
  text-decoration: none;
  color: $color-dark;
  transition: 0.3s;
}

body {
  box-sizing: border-box;
  background-color: $color-light-bg;
  color: $color-gray-light;
  font-family: $font-display;
  line-height: 1.5;
}

// Light Mode
body.light-mode {
  background-color: $color-light-bg;
  color: $color-gray-light;

  a {
    color: $color-primary-light;
  }

  .button {
    background-color: $color-primary-light;
    color: $color-light-bg;
  }

  .navbar-nav li a {
    color: $color-dark-bg;
  }

  .site_bg {
    background: $site-bg-light;
  }

  .site_bg_home {
    background: #000;
  }

  .site_bg_none {
    background: $color-light-bg;
  }

  .heading_bg_none {
    color: $color-primary-dark
  }

  .subheading_bg_none {
    color: $color-tertiary-dark
  }

  .card_style {
    background: $color-light;
    box-shadow: 2px 0px 15px 5px $color-shadow;
  }

  .hashtag {
    color: #524A78
  }

  .card_icon_bg {
    background-color: $color-primary;
  }

  // Triangle divider
  .divider-traingle {
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: $color-primary;
    opacity: 0.4;
    position: relative;
    display: inline-block;
  }

  .divider-traingle:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: $color-primary;
    top: -9px;
    opacity: 0.4;
    right: 50%;
    transform: rotate(45deg);
  }

  .divider-traingle:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: $color-primary;
    top: -9px;
    left: 45%;
    opacity: 0.4;
    transform: rotate(45deg);
  }

  .divider-traingle-white {
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    opacity: 0.4;
    position: relative;
    display: inline-block;
  }

  .divider-traingle-white:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    top: -9px;
    opacity: 0.4;
    right: 50%;
    transform: rotate(45deg);
  }

  .divider-traingle-white:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: #fff;
    top: -9px;
    left: 45%;
    opacity: 0.4;
    transform: rotate(45deg);
  }

  // Triangle divider on color bg
  .divider-traingle_color {
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    opacity: 0.4;
    position: relative;
    display: inline-block;
  }

  .divider-traingle_color:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    top: -9px;
    opacity: 0.4;
    right: 50%;
    transform: rotate(45deg);
  }

  .divider-traingle_color:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: #fff;
    top: -9px;
    left: 45%;
    opacity: 0.4;
    transform: rotate(45deg);
  }

  .divider-traingle_color-white {
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    opacity: 0.4;
    position: relative;
    display: inline-block;
  }

  .divider-traingle_color-white:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    top: -9px;
    opacity: 0.4;
    right: 50%;
    transform: rotate(45deg);
  }

  .divider-traingle_color-white:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: #fff;
    top: -9px;
    left: 45%;
    opacity: 0.4;
    transform: rotate(45deg);
  }

  .author {
    &__image {
      position: relative;
      width: 100%;
      padding-left: 20px;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 20px;
        z-index: 1;
        background: $color-primary;
        border-radius: inherit;
        height: 100%;
        width: 90%;
        border-radius: 5px;
      }

      .img {
        position: relative;
        width: 95%;
        z-index: 2;
        border-radius: 5px;

        @include respond(laptop) {
          width: 100%;
        }
      }
    }

    &__content {
      @include respond(laptop) {
        margin-top: 40px;
      }

      &__desc {
        padding-left: 0;

        li {
          list-style: none;
          margin-bottom: 8px;

          svg {
            color: $color-primary;
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .card_text {
    color: #212529
  }

  .contact {
    &-form-box {
      padding: 40px;
      background-image: $site-bg-light;
      border: 2px solid $bg-one;
      border-radius: 8px;

      @include respond(laptop) {
        padding: 20px;
      }

      form {
        text-align: center;
      }

      input,
      textarea {
        width: 100%;
        border: none;
        margin-bottom: 15px;
        background: transparent;
        border-radius: 8px;
        border: 1px solid $bg-one;
        color: #fff;
      }

      input:focus,
      textarea:focus {
        outline: none;
        border: none;
        border-bottom: 2px solid $color-primary;
      }

      textarea {
        min-height: 120px;
        transition: all 0.3s ease-in-out;
      }

      input::placeholder,
      textarea::placeholder {
        color: #eeeeeebe;
        opacity: 1;
      }

      input:-ms-input-placeholder,
      textarea:-ms-input-placeholder {
        color: #eeeeeebe;
      }

      input::-ms-input-placeholder,
      textarea::-ms-input-placeholder {
        color: #eeeeeebe;
      }
    }

    &__address {
      height: 100%;
      background-color: $bg-one;

      iframe {
        width: 100%;
        height: 250px;
        padding-bottom: 20px;
      }

      &__content {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 30px;

          a {
            display: block;
            color: $color-secondary;

            &:hover {
              color: $color-primary;
            }
          }

          span {
            font-weight: 700;
            font-family: $font-heading;
            display: block;
            margin-bottom: 5px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .main_heading {
    color: $color-primary-light
  }

  .sub_heading {
    color: $color-primary-dark
  }

  .dropdown-tab {
    background-color: transparent;
    border: 2px solid $color-nonActiveTabs-light;
    color: $color-nonActiveTabs-light;
    font-size: 16px;
    border-radius: 6px;
  }

  .tab.active {
    border-top: .5px solid $color-light;
    color: $color-light;
  }

  .nonActiveTabs {
    color: $color-nonActiveTabs-light
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: $site-bg-light;
    border: 1px solid $color-light;
    border-radius: 8px;
    width: 120%;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: Adds shadow for better visibility */
  }

  .slider_images {
    box-shadow: $color-white-light;
  }

  td {
    color: #fff;
  }
}

//Light mode end
@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLogo {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

// Dark Mode
body.dark-mode {
  background-color: $color-dark-dark-bg;
  color: $color-gray-dark;

  .main_heading {
    color: $color-light-bg
  }

  .nav-link.main_heading:hover {
    color: #dfdfdf;
  }

  .sub_heading {
    color: $color-white-light
  }

  a {
    color: $color-primary-dark;
  }

  .button {
    background-color: $color-primary-dark;
    color: $color-light-bg;
  }

  .navbar-nav li a {
    color: $color-light-dark-bg;
  }

  .site_bg {
    // background: $site-bg-dark;
    background-color: #000;
  }

  .site_bg_home {
    background: #000;
  }

  .site_bg_none {
    // background: $site-bg-dark;
    background-color: #000;
  }

  .heading_bg_none {
    color: $color-heading-light
  }

  .subheading_bg_none {
    color: #f3f3f3
  }

  .card_style {
    background: $color-primary-dark;
    box-shadow: 2px 0px 15px 5px #555555;
  }

  .hashtag {
    color: $color-gray-dark
  }

  .card_icon_bg {
    background-color: $color-primary-dark;
  }

  // Triangle divider
  .divider-traingle {
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: $color-light-bg;
    opacity: 0.4;
    position: relative;
    display: inline-block;
  }

  .divider-traingle:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: $color-light-bg;
    top: -9px;
    opacity: 0.4;
    right: 50%;
    transform: rotate(45deg);
  }

  .divider-traingle:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: $color-light-bg;
    top: -9px;
    left: 45%;
    opacity: 0.4;
    transform: rotate(45deg);
  }

  .divider-traingle-white {
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    opacity: 0.4;
    position: relative;
    display: inline-block;
  }

  .divider-traingle-white:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    top: -9px;
    opacity: 0.4;
    right: 50%;
    transform: rotate(45deg);
  }

  .divider-traingle-white:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: #fff;
    top: -9px;
    left: 45%;
    opacity: 0.4;
    transform: rotate(45deg);
  }

  // Triangle divider on color bg
  .divider-traingle_color {
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: $color-light-bg;
    opacity: 0.4;
    position: relative;
    display: inline-block;
  }

  .divider-traingle_color:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: $color-light-bg;
    top: -9px;
    opacity: 0.4;
    right: 50%;
    transform: rotate(45deg);
  }

  .divider-traingle_color:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: $color-light-bg;
    top: -9px;
    left: 45%;
    opacity: 0.4;
    transform: rotate(45deg);
  }

  .divider-traingle_color-white {
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    opacity: 0.4;
    position: relative;
    display: inline-block;
  }

  .divider-traingle_color-white:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    top: -9px;
    opacity: 0.4;
    right: 50%;
    transform: rotate(45deg);
  }

  .divider-traingle_color-white:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: #fff;
    top: -9px;
    left: 45%;
    opacity: 0.4;
    transform: rotate(45deg);
  }

  .author {
    &__image {
      position: relative;
      width: 100%;
      padding-left: 20px;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 20px;
        z-index: 1;
        background: $video-shadow-dark;
        border-radius: inherit;
        height: 100%;
        width: 90%;
        border-radius: 5px;
      }

      .img {
        position: relative;
        width: 95%;
        z-index: 2;
        border-radius: 5px;

        @include respond(laptop) {
          width: 100%;
        }
      }
    }

    &__content {
      @include respond(laptop) {
        margin-top: 40px;
      }

      &__desc {
        padding-left: 0;

        li {
          list-style: none;
          margin-bottom: 8px;

          svg {
            color: $color-primary;
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .card_text {
    color: $color-gray-dark
  }

  .contact {
    &-form-box {
      padding: 40px;
      background-image: $site-bg-dark;
      border: 2px solid $bg-one;
      border-radius: 8px;

      @include respond(laptop) {
        padding: 20px;
      }

      form {
        text-align: center;
      }

      input,
      textarea {
        width: 100%;
        border: none;
        margin-bottom: 15px;
        background: transparent;
        border-radius: 8px;
        border: 1px solid $bg-one;
        color: #fff;
      }

      input:focus,
      textarea:focus {
        outline: none;
        border: none;
        border-bottom: 2px solid $color-primary;
      }

      textarea {
        min-height: 120px;
        transition: all 0.3s ease-in-out;
      }

      input::placeholder,
      textarea::placeholder {
        color: #eeeeeebe;
        opacity: 1;
      }

      input:-ms-input-placeholder,
      textarea:-ms-input-placeholder {
        color: #eeeeeebe;
      }

      input::-ms-input-placeholder,
      textarea::-ms-input-placeholder {
        color: #eeeeeebe;
      }
    }

    &__address {
      height: 100%;
      background-color: $bg-one;

      iframe {
        width: 100%;
        height: 250px;
        padding-bottom: 20px;
      }

      &__content {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 30px;

          a {
            display: block;
            color: $color-secondary;

            &:hover {
              color: $color-primary;
            }
          }

          span {
            font-weight: 700;
            font-family: $font-heading;
            display: block;
            margin-bottom: 5px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .dropdown-tab {
    background-color: transparent;
    border: 2px solid $color-nonActiveTabs-dark;
    color: $color-nonActiveTabs-dark;
    font-size: 16px;
    border-radius: 6px;
  }

  .tab.active {
    // border-top: .5px solid $color-light;
    color: $color-light-bg;
  }

  .nonActiveTabs {
    color: $color-nonActiveTabs-dark
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: $site-bg-dark;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 120%;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: Adds shadow for better visibility */
  }

  .dropdown-menu-bg {
    background: $site-bg-dark !important;
    border: 1px solid #ccc;
  }

  .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #ccc;
    color: #000
  }
}

//Dark Mode End


// Section wrapper
.section-wrapper {
  overflow-x: hidden;
}

// Backgrounds
.bg-one {
  background-image: linear-gradient(45deg, #aea2ff, #130e1d);
}

.bg-one-old {
  background-color: $bg-one;
}

// Section paddings
.section-padding {
  padding: 80px 0;
}

.section-padding-t {
  padding-top: 80px;
}

.section-padding-b {
  padding-bottom: 80px;
}

// Badge text
.badge-text {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: $color-primary;
  font-weight: 600;
  display: inline-block;
}

// Section title
[class*='section-title-'] {
  margin-bottom: 50px;

  span {
    // text-transform: uppercase;
    // letter-spacing: 4px;
    // font-weight: 600;
    color: $color-primary;
    display: inline-block;
  }

  h2 {
    margin-top: 0px;
  }
}

.section-title-left {
  p {
    margin-left: 0;
  }
}

.section-title-center {
  p {
    margin: 0 auto;
  }
}

.section-divider {
  margin-top: 20px;
}

// Buttons
.button {
  pointer-events: auto;
  cursor: pointer;
  background: $color-primary;
  color: $color-light;
  border: none;
  text-align: center;
  padding: 10px 30px;
  line-height: 30px;
  margin: 0;
  position: relative;
  display: inline-block;

  &:hover {
    color: $color-light;
  }

  &__primary {
    border-radius: 3px;
    overflow: hidden;
    color: $color-light;
    background: $color-secondary;

    &::before {
      content: '';
      background: $color-primary;
      width: 125%;
      left: -12%;
      transform: skew(30deg);
      transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }

    span {
      position: relative;
    }

    &:hover::before {
      transform: translate3d(100%, 0, 0);
    }
  }
}

.btn__secondary {
  position: relative;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
  background-color: transparent;
  color: $color-primary;
  transition: all 0.3s ease;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: $color-primary;
    transition: all 0.5s ease;
  }

  &::before {
    top: 0px;
    left: 0px;
    border-right: none;
  }

  &::after {
    top: 0px;
    right: 0px;
    border-left: none;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
  }

  &:hover {
    text-decoration: none;
    background: $color-primary;
    color: $color-light;
    transition-delay: 0.35s;
  }

  &.btn-small {
    padding: 4px 20px;
  }
}

// Links
.link {
  font-weight: 500;
  position: relative;
  color: $color-primary;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;

  & svg {
    position: relative;
    margin-left: 4px;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    color: $color-secondary;

    & svg {
      margin-left: 6px;
    }
  }
}

// Social icon
.social-icon {
  padding-left: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 0;

  li {
    list-style: none;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 5px;
      background-color: $color-primary;
      color: $color-light;
      transition: all 0.5s;
      box-shadow: 3px 3px $color-secondary;

      &:hover {
        background-color: $color-secondary;
        box-shadow: none;
      }

      @media screen and (max-width: 320px) {
        width: 30px;
        height: 30px;
      }

      svg {
        font-size: 20px;

        @media screen and (max-width: 320px) {
          font-size: 15px;
        }
      }
    }
  }
}

// Preloader
#preLoader {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  animation: preLoader 1s 1s linear forwards;
  background-color: $color-light;
}

// Hover translate effect
.translateEffect1 {
  transition: all 0.3s;

  &:hover {
    transform: translateY(-10px);
  }
}

.translateEffect2 {
  transition: all 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
}

.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.translateEffectServices:hover .card-img-top {
  transform: scale(1.05);
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.5);
}

.card-img-container:hover .card-img-top {
  transform: scale(1.1);
  filter: blur(5px);
}

.card-img-container:hover .card-img-overlay {
  opacity: 1;
}

.translateEffectServices {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.translateEffectServices:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}