.horizontal-tabs {
  display: flex;
  flex-direction: column;
}

.tab-list {
  display: flex;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  position: relative;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab-content {
  margin-top: 20px;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.tab-list {
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.dropdown {
  margin-left: 10px;
  /* Adjust as needed */
  position: relative;
}

/* services.css */
.mobile-tabs {
  margin-top: 10px;
}

.mobile-tabs select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  appearance: none;
  /* Remove default arrow */
  max-height: 200px;
  /* Limit the height of the dropdown */
  overflow-y: auto;
  /* Enable vertical scrolling if options exceed max-height */
  max-width: 100%;
  /* Limit the width of the dropdown */
}

.mobile-tabs select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.mobile-tabs select option {
  font-size: 12px;
  background-color: #fff;
  color: #333;
}

.mobile-tabs select option:hover {
  background-color: #f4f4f4;
}

.mobile-tabs select option:checked {
  background-color: #007bff;
  color: #fff;
}

/* Ensure dropdown options stay within screen bounds */
.mobile-tabs select::-ms-expand {
  display: none;
  /* Remove arrow in IE */
}

@media screen and (max-height: 400px) {
  .mobile-tabs select {
    max-height: calc(100vh - 100px);
    /* Adjust height dynamically */
  }
}